<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Day</key>
	<array>
        <string>١</string>
        
        <string>٢</string>
        
        <string>٣</string>
        
        <string>٤</string>
        
        <string>٥</string>
        
        <string>٦</string>
        
        <string>٧</string>
        
        <string>٨</string>
        
        <string>٩</string>
        
        <string>١٠</string>
        
        <string>١١</string>
        
        <string>١٢</string>
        
        <string>١٣</string>
        
        <string>١٤</string>
        
        <string>١٥</string>
        
        <string>١٦</string>
        
        <string>١٧</string>
        
        <string>١٨</string>
        
        <string>١٩</string>
        
        <string>٢٠</string>
        
        <string>٢١</string>
        
        <string>٢٢</string>
        
        <string>٢٣</string>
        
        <string>٢٤</string>
        
        <string>٢٥</string>
        
        <string>٢٦</string>
        
        <string>٢٧</string>
        
        <string>٢٨</string>
        
        <string>٢٩</string>
        
        <string>٣٠</string>
        
        <string>٣١</string>	</array>
	<key>Month</key>
	<array>
        <string>محرم</string>
        
        <string>صفر</string>
        
        <string>ربيع الأول</string>
        
        <string>ربيع الثاني</string>
        
        <string>جمادي الأول</string>
        
        <string>جمادي الثاني</string>
        
        <string>رجب</string>
        
        <string>شعبان</string>
        
        <string>رمضان</string>
        
        <string>شوال</string>
        
        <string>ذو القعدة</string>
        
        <string>ذو الحجة</string>
	</array>
	<key>Year</key>
	<array>
		<string>١٢٩٨</string>
        <string>١٢٩٩</string>
        <string>١٣٠٠</string>
        <string>١٣٠١</string>
        <string>١٣٠٢</string>
        <string>١٣٠٣</string>
        <string>١٣٠٤</string>
        <string>١٣٠٥</string>
        <string>١٣٠٦</string>
        <string>١٣٠٧</string>
        <string>١٣٠٨</string>
        <string>١٣٠٩</string>
        <string>١٣١٠</string>
        <string>١٣١١</string>
        <string>١٣١٢</string>
        <string>١٣١٣</string>
        <string>١٣١٤</string>
        <string>١٣١٥</string>
        <string>١٣١٦</string>
        <string>١٣١٧</string>
        <string>١٣١٨</string>
        <string>١٣١٩</string>
        <string>١٣٢٠</string>
        <string>١٣٢١</string>
        <string>١٣٢٢</string>
        <string>١٣٢٣</string>
        <string>١٣٢٤</string>
        <string>١٣٢٥</string>
        <string>١٣٢٦</string>
        <string>١٣٢٧</string>
        <string>١٣٢٨</string>
        <string>١٣٢٩</string>
        <string>١٣٣٠</string>
        <string>١٣٣١</string>
        <string>١٣٣٢</string>
        <string>١٣٣٣</string>
        <string>١٣٣٤</string>
        <string>١٣٣٥</string>
        <string>١٣٣٦</string>
        <string>١٣٣٧</string>
        <string>١٣٣٨</string>
        <string>١٣٣٩</string>
        <string>١٣٤٠</string>
        <string>١٣٤١</string>
        <string>١٣٤٢</string>
        <string>١٣٤٣</string>
        <string>١٣٤٤</string>
        <string>١٣٤٥</string>
        <string>١٣٤٦</string>
        <string>١٣٤٧</string>
        <string>١٣٤٨</string>
        <string>١٣٤٩</string>
        <string>١٣٥٠</string>
        <string>١٣٥١</string>
        <string>١٣٥٢</string>
        <string>١٣٥٣</string>
        <string>١٣٥٤</string>
        <string>١٣٥٥</string>
        <string>١٣٥٦</string>
        <string>١٣٥٧</string>
        <string>١٣٥٨</string>
        <string>١٣٥٩</string>
        <string>١٣٦٠</string>
        <string>١٣٦١</string>
        <string>١٣٦٢</string>
        <string>١٣٦٣</string>
        <string>١٣٦٤</string>
        <string>١٣٦٥</string>
        <string>١٣٦٦</string>
        <string>١٣٦٧</string>
        <string>١٣٦٨</string>
        <string>١٣٦٩</string>
        <string>١٣٧٠</string>
        <string>١٣٧١</string>
        <string>١٣٧٢</string>
        <string>١٣٧٣</string>
        <string>١٣٧٤</string>
        <string>١٣٧٥</string>
        <string>١٣٧٦</string>
        <string>١٣٧٧</string>
        <string>١٣٧٨</string>
        <string>١٣٧٩</string>
        <string>١٣٨٠</string>
        <string>١٣٨١</string>
        <string>١٣٨٢</string>
        <string>١٣٨٣</string>
        <string>١٣٨٤</string>
        <string>١٣٨٥</string>
        <string>١٣٨٦</string>
        <string>١٣٨٧</string>
        <string>١٣٨٨</string>
        <string>١٣٨٩</string>
        <string>١٣٩٠</string>
        <string>١٣٩١</string>
        <string>١٣٩٢</string>
        <string>١٣٩٣</string>
        <string>١٣٩٤</string>
        <string>١٣٩٥</string>
        <string>١٣٩٦</string>
        <string>١٣٩٧</string>
        <string>١٣٩٨</string>
        <string>١٣٩٩</string>
        <string>١٤٠٠</string>
        <string>١٤٠١</string>
        <string>١٤٠٢</string>
        <string>١٤٠٣</string>
        <string>١٤٠٤</string>
        <string>١٤٠٥</string>
        <string>١٤٠٦</string>
        <string>١٤٠٧</string>
        <string>١٤٠٨</string>
        <string>١٤٠٩</string>
        <string>١٤١٠</string>
        <string>١٤١١</string>
        <string>١٤١٢</string>
        <string>١٤١٣</string>
        <string>١٤١٤</string>
        <string>١٤١٥</string>
        <string>١٤١٦</string>
        <string>١٤١٧</string>
        <string>١٤١٨</string>
        <string>١٤١٩</string>
        <string>١٤٢٠</string>
        <string>١٤٢١</string>
        <string>١٤٢٢</string>
        <string>١٤٢٣</string>
        <string>١٤٢٤</string>
        <string>١٤٢٥</string>
        <string>١٤٢٦</string>
        <string>١٤٢٧</string>
        <string>١٤٢٨</string>
        <string>١٤٢٩</string>
        <string>١٤٣٠</string>
        <string>١٤٣١</string>
        <string>١٤٣٢</string>
        <string>١٤٣٣</string>
        <string>١٤٣٤</string>
        <string>١٤٣٥</string>
        <string>١٤٣٦</string>
        <string>١٤٣٧</string>
	</array>
</dict>
</plist>
